<div class="container-fluid top-row nav justify-content-center navbar navbar-expand-lg bg-dark">
        <a  href="">AndrewPortfolio</a>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="Weather">Weather</NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="Counter">Counter</NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
</div>


